<section class="admissionarea">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>Admission</h2>
            </div>
        </div>
        <div class="row">
            <p>Admission procedure is carried out by an open advertisement made by Jharkhand Combined Entrance
                Competitive Examination Board(JCECEB), Ranchi which invites application, conducts written test at
                different centers in the state and subsequently arranges counseling works of the selected candidates on
                merit basis to get admission in different Government Polytechnics / Mining Institutes / Other approved
                private polytechnics of the state. Reservation policy of the Jharkhand Government is strictly maintained
                in this selection process. Beside this 1 seat in each discipline is also reserved for the ward of
                defense personal.</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-alert></app-alert>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-collapse></app-collapse>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-offcanvas></app-offcanvas>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-modal></app-modal>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <app-popover></app-popover>
            </div>
        </div>
    </div>
</section>